[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-powietrze
Exec=harbour-powietrze
Name=Powietrze
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
#Name[de]=harbour-powietrze

[X-HarbourBackup]
BackupPathList=.config/harbour-powietrze


[X-Sailjail]
Permissions=Internet;Location
